@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --primary-color: #2da7df;
  --secondary-color: #e87e25;
  /* --tertiary-color: #fed90f; */

  /* --tertiary-color: #22d3ee; */

  --radius: 0.625rem;

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.129 0.042 264.695);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.129 0.042 264.695);

  --primary: oklch(0.208 0.042 265.755);

  --primary-foreground: oklch(0.984 0.003 247.858);

  --secondary: oklch(0.968 0.007 247.896);

  --secondary-foreground: oklch(0.208 0.042 265.755);

  --muted: oklch(0.968 0.007 247.896);

  --muted-foreground: oklch(0.554 0.046 257.417);

  --accent: oklch(0.968 0.007 247.896);

  --accent-foreground: oklch(0.208 0.042 265.755);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.929 0.013 255.508);

  --input: oklch(0.929 0.013 255.508);

  --ring: oklch(0.704 0.04 256.788);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.984 0.003 247.858);

  --sidebar-foreground: oklch(0.129 0.042 264.695);

  --sidebar-primary: oklch(0.208 0.042 265.755);

  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);

  --sidebar-accent: oklch(0.968 0.007 247.896);

  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);

  --sidebar-border: oklch(0.929 0.013 255.508);

  --sidebar-ring: oklch(0.704 0.04 256.788);

  --background: oklch(1 0 0);

  --foreground: oklch(0.129 0.042 264.695);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: var(--secondary-color);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-open-sans), sans-serif;
}

.lightMode {
  --bg-primary: linear-gradient(to right, #fbf2f2 7f5, #faf7f5);
  --bg-purple: #f3e8ff;

  --bg-primary-color: #f3f4f6;
  --bg-secondary-color: #fff;
  --bg-tertiary-color: #faf7f5;

  --primary-white: #06b6d4;
  --secondary-white: #1e3a8a;

  --bg-primary-gray: #f0f0f1;
  --border-primary-gray: #f3f4f6;

  --text-primary-color: #262d47;

  --text-primary-gray: #364153;
  --text-secondary-gray: #1e2939;
  --text-tertiary-gray: #4a5565;
}

.darkMode {
  --bg-primary: linear-gradient(to right, #1a1e2e, #292e3e);
  --bg-purple: #1a1e2e;

  --primary-white: #faf7f5;
  --secondary-white: #faf7f5;

  --bg-primary-color: #1a1e2e;
  --bg-secondary-color: #31374b;
  --bg-tertiary-color: #151823;

  --bg-primary-gray: #1a1e2e;
  --border-primary-gray: #292e3e;

  --text-primary-color: #fff;

  --text-primary-gray: #e1e1e1;
  --text-secondary-gray: #e1e1e1;
  --text-tertiary-gray: #dfe0e2;
}

.word-spacing {
  word-spacing: 0.4em;
}

.text-style {
  letter-spacing: calc(1em / 8);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
}

.bg-style {
  background-image: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #ff00d2,
    #fed90f
  );
}

.button-style {
  background-image: linear-gradient(144deg, #00ddeb, #5b42f3 50%, #af40ff);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-style:active,
.button-style:hover {
  outline: 0;
}

.tiptap.ProseMirror {
  padding: 0.7em;
  font-size: 1em;
}
.readOnlyEditor .tiptap.ProseMirror {
  padding: 0;
}
